<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../Public/Assets/statics/styles.css">

        <title>PokeCatalogo</title>
    </head>
    <body>
        <header>

            <section class="nombre_icono">
                <img class="icono"  src="../../Public/Assets/Imagenes/Logo_de_Pokémon.svg" alt="Foto de perfil">
                <h3 class="nombre">
                    Elige una opcion
                </h3>
            </section>

        </header>


        <main>
            <div>
                <ul>
                    <li><a href="../Views/ver_pokemones.php"><img src="../../Public/Assets/Imagenes/check-circle.svg" alt="Icono"><p>Ver Pokemones</p></a></li>
                    <li><a href="../Views/comprar_pokemones.php"><img src="../../Public/Assets/Imagenes/check-circle.svg" alt="Icono"><p>Comprar pokemones</p></a></li>
                    <li><a href="../Views/pepito.php"><img src="../../Public/Assets/Imagenes/check-circle.svg" alt="Icono"><p>Capturar Pokemones</p></a></li>
                    <li><a href="pagina4.html"><img src="../../Public/Assets/Imagenes/check-circle.svg" alt="Icono"><p>Entrenar Pokemones</p></a></li>
                    <li><a href="pagina5.html"><img src="../../Public/Assets/Imagenes/check-circle.svg" alt="Icono"><p>Desafíos y batallas</p></a></li>
                </ul>
            </div>
        </main>
        


        <footer>
            
            <img class="twitter" src="../../Public/Assets/Imagenes/twitter.svg" alt="logo de twitter">
            <img class="facebook" src="../../Public/Assets/Imagenes/facebook-f.svg" alt="logo de facebook">
            <img class="linkedin" src="../../Public/Assets/Imagenes/linkedin.svg" alt="logo de linkedin">

        </footer>

    </body>
</html>